<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
    {{#if script}}
        <script defer src="/public/js/{{script}}"></script>
    {{/if}}
</head>
<body>
{{> header }}
{{> nav }}

<main>
    {{{body}}}
</main>

{{> footer }}
</body>
</html>