<h2>Post a New Video</h2>
<form>
    <label>Title:
        <input type="text" name="title" required>
    </label><br><br>

    <label>Description:<br>
        <textarea name="description" rows="4" cols="50" required></textarea>
    </label><br><br>

    <label>Upload Video:
        <input type="file" name="video" accept="video/*" required>
    </label><br><br>

    <label>
        <input type="checkbox" required>
        I agree to the Acceptable Use Policy.
    </label><br><br>

    <input type="submit" value="Submit Video">
</form>