body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: steelblue;
  color: #333;
}

header {
  background-color: black;
  color: white;
  padding: 1em;
  text-align: left;
  font-size: 1.5em;
}



nav ul {
  list-style-type: none;
  background-color: #444;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  background-color: #666;
}

main {
  padding: 60px;
  max-width: 600px;
  margin: 10em auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.feedback {
  margin-left: 10px;
  font-weight: bold;
}

.feedback.valid {
  color: green;
}

.feedback.invalid {
  color: red;
}


form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 1em;
}

form input[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #555;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 10px;

}
